// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* Adds font families */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:ital,wght@0,700;1,400&display=swap');
html {
	font-size: 62.5%;
}

/* Variables */
@header-font: 'PT Serif', serif;
@body-font: 'PT Sans', sans-serif;
@primary-color: royalblue;
@secondary-color: coral;

/* Mixins */
.inline-flex(){
	display: flex;
	justify-content: space-between;
}

/* This begins the header styling */
header {
	.inline-flex();
	align-items: baseline;
	background: lightcyan;

	h1 {
		font-family: @header-font;
		font-size: 4rem;
		font-weight: 700;
		color: @primary-color;
		margin: 30px 10px;
	}
	nav {
		a {
			text-decoration: none;
			font-family: @body-font;
			font-size: 1.8rem;
			padding: 10px 20px;
			color: @secondary-color;
		}
	} /* This closes the nav */
} /* This closes the header */

/* This begins the introduction styling */
.intro {
	.inline-flex();
	align-items: center;
	border-bottom: 4px solid @primary-color;

	img {
		width: 50%;
		height: auto;
	}
	h3 {
		font-family: @header-font;
		font-size: 2.4rem;
		font-weight: 700;
		color: @primary-color;
		margin-bottom: 20px;
	}
	p {
		font-family: @body-font;
		font-size: 1.8rem;
		line-height: 1.5;
	}
	.intro-text {
		margin: 0 5%;
	}
} /* This closes the introduction */

/* This begins the Skills & Work History section styling */
.work {
	.inline-flex();
	align-items: flex-start;
	border-bottom: 4px solid @primary-color;
	margin: 20px 0 0;

	h3 {
		font-family: @header-font;
		font-size: 2.4rem;
		font-weight: 700;
		color: @primary-color;
		margin-bottom: 20px;
	}
	p {
		font-family: @body-font;
		font-size: 1.8rem;
	}
	.skills {
		margin: 0 5% 20px;
		width: 50%;
		ul {
			list-style: circle inside;
			li {
				font-family: @body-font;
				font-size: 1.8rem;
				line-height: 1.5;
			}
		}
	} /* This closes the Skills */
	.history {
		margin: 0 5% 20px;
		width: 50%;
		font-family: @body-font;
		h4 {
			font-size: 2rem;
			font-weight: 700;
			color: @secondary-color;
			margin-bottom: 5px;
		}
		h5 {
			font-size: 1.8rem;
			font-weight: 700;
			margin-bottom: 5px;
		}
		p {
			font-size: 1.8rem;
			line-height: 1.5;
		}
	} /* This closes the Work History */

} /* This closes the Skills & Work History section */

/* This begins the footer styling */
footer {
	background: lightcyan;
	height: 120px;
	text-align: center;
	h3 {
		font-family: @header-font;
		font-size: 2.4rem;
		font-weight: 700;
		color: @primary-color;
		margin-bottom: 20px;
		padding-top: 10px;
	}
	p {
		font-family: @body-font;
		font-size: 1.8rem;
		line-height: 1.5;
	}
} /* This closes the footer */